Módulo\ 1\data
Módulo\ 1/Entregas_pkl
**\data
**\data/*
**\data/Credit Cards Transactions\
**\data/*
Modulo 2/Examen Final/data\Credit Cards Transactions\*.csv
/Modulo 2/Examen Final/data
Modulo 2/Examen Final/data